.login-form{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  position: fixed;
}

form{
  display: inline-grid;
}

.facebook-log .icon{
  background: url(media/fb-logo.png) no-repeat;
  float: left;
  resize: both;
  width: 20px;
  height: 20px;
}
