.login-form{
  display: block;
  align-content: center;
}

form{
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.facebook-log .icon{
  background: url(media/fb-logo.png) no-repeat;
  float: left;
  resize: both;
  width: 20px;
  height: 20px;
}
