.alert-list {
  margin: 2em 2em 2em 2em;
  border: 2px solid #ffdc00;
  border-radius: 5px;
  display: grid;
}

.alert {
  margin: 2em 2em 2em 2em;
  font-stretch: extra-expanded;
  font-size: 20px;
  letter-spacing: 0.03rem;
  font-family: 'Raleway', sans-serif;
  color : black;
  max-width: 95%;
  font-weight: 100;
  border: 2px dotted #ffdc00;
  border-radius: 5px;
}

.alert {
  display: inline-grid;
  grid-template-columns: 95%;
}
.alert.more {
  max-width: 95%;
}

.alert.less {
  border: none;
  max-width: 95%;
}
.alert.less > .for-alert-list{
  display: none;
}
.alert.less > .topic{
  display: none;
}

.alert > .topic {
  margin: 1em 1em 1em 1em;
  display: inline-grid;
}

.title{
  padding: 5px 5px 5px 5px;
}
.mini-title {
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 95%;
  max-height: 27.2px;
}

@media screen and (max-width: 850px) {
  .alert-list {

  }
  .alert {
    grid-template-columns: 95%;
  }

  .descrieree {

  }
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border:2px dashed #000;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header, .modal-footer {
    padding: 10px 16px;
    background-color: #ffdc00;
    color: black;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}
.modal-header{
  -moz-border-radius:25px 25px 0 0;
  -webkit-border-radius:25px 25px 0 0;
  border-radius:25px 25px 0 0;
}
.modal-footer{
  -moz-border-radius:0 0 25px 25px;
  -webkit-border-radius:0 0 25px 25px;
  border-radius:0 0 25px 25px;
}

.modal-body {
  padding: 25px 16px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

#myBtn{
  margin: auto;
  align-content: flex-start;

}

hr {
  max-width: 90%;
  border: 1px dotted #ffdc00;
  margin-bottom: 25px;
}

.edit-button {
	background-color:#ffdc00;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:2px dashed #ffdc00;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family: 'Roboto Mono', monospace;
	font-size:17px;
	padding:2px 10px;
	text-decoration:none;
	max-width: 140px;
	height: 30px;
	margin:auto;
}
.edit-button:hover {
	border:2px dashed #000000;
}

.alert-title {
  width: auto;
  color: black;
}