.alert {
  font-family: 'Raleway', sans-serif;
  margin: 2em;
  border: 2px solid #ffdc00;
  border-radius: 5px;
  padding: 2%;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto;
}

.topic {
  /* padding-top: 5px;
  padding-bottom: 5px; */
  padding: 5px;
  color: black;
  display: inline-grid;
}

.title{
  margin-right: auto;
  padding: 5px 5px 5px 5px;
}
.mini-title {
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 95%;
  max-height: 27.2px;
}

@media screen and (max-width: 600px) {
  .alert {
    grid-template-columns: 95%;
  }
}
