body {
  background-image: url('../img/flower_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-stretch: extra-expanded;
  font-size: 20px;
  letter-spacing: 0.03rem;
  font-family: 'Raleway', sans-serif;
  color : white;
}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 93%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #ffdc00;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 0px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
.greenbtn {

}

/* Extra styles for the cancel button */
.quickbtn {
  padding: 14px 0px;
  background-color: dodgerblue;
}

/* Float cancel and signup buttons and add an equal width */
.greenbtn, .quickbtn {
  float: left;
  width: 50%;
}

form {
  /* max-height: 70%; */
  /* background-color: #C0C0C0; */
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10px;
  /* margin-bottom: 15%; */
  border:2px solid #ffdc00;
}

.logo-container {
  margin-left: calc(70% - 200px);
  object-fit: contain;
  max-height: 200px;
  max-width: 200px;
}

.logo-container img {
  max-width: 100%;
  max-height: 100%;
}

/* Add padding to container elements */
.container {
  max-height: 90%;
  padding: 16px;
  margin-left: 5%;
  margin-right: 5%;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.callJsFromLink {
  color:#ffdc00;
}

.callJsFromLink > a {
  /* color:#ffdc00; */
}
@media screen and (max-width: 1200px) {
  form {
    margin-left: 25%;
    margin-right: 25%;
  }
}
@media screen and (max-width: 900px) {
  form {
    margin-left: 15%;
    margin-right: 15%;
  }
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 400px) {
  form {
    margin-left: 0;
    margin-right: 0;
    width: 90%;
  }

  input[type=text], input[type=password] {
    width: 90%;
  }

  button {
    width: 90%;
    margin-right: 5%;
  }
}
