*
{
  margin:0;
}
body, html {
    height: 100%;
}

.header{
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
    position: fixed;
    top: 0;
    z-index:1;
    height: 18vh;
    width: 98vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax {
    /* The image used */
    background-image: url('../img/flower_background.jpg');
    z-index: 0;
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    /* background-image: url('../img/parallax2.jpg'); */
		background: white;

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo
{

  width: 40vh;
  position: fixed;
  top:0;
  z-index: 2;
  left: 20px;
  top: -70px;

}

@media screen and (max-width: 450px) {
  #logo{
    width: 20vh;
      left: 20px;
  top: -20px;
  }
}

#intro
{
  font-family: 'Raleway', sans-serif;
  margin-left: 20%;
  margin-right: 20%;
  font-stretch: extra-expanded;
  font-size: 20px;
  letter-spacing: 0.03rem;
  text-align: center;
  z-index: 1;

  font-size: 50px;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffdc00;
  position: absolute; /*fixed for the intro to stay behind*/
}


.topnav {
  margin: 0;
  padding: 0;
  height: 52px;
  position: fixed;
  top:0; /*sticky navigation bar */
  z-index: 2;
  max-width: 80%;
  right: 0;
  float:left;
}
.menu-list
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 50px;
}

.topnav a {
  display: inline;
  margin: 10px 15px;
  border: 2px transparent solid;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  text-decoration: none;
  font-family: 'KoHo', sans-serif;
  font-size: 13px;
  color: white;

}

.topnav a:hover {
  cursor: pointer;
  color: #ffdc00;
  border: 2px #ffdc00 solid;
  border-radius: 5px;
}

.active {
  color: #ffdc00;
  border: 2px #ffdc00 solid;
  border-radius: 5px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 850px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 850px) {
  .topnav.responsive 
  {
    position: relative;
    text-align: center;
    float:right;
    padding-right: 77px;
    position: fixed;
  top:0; /*sticky navigation bar */
  z-index: 2;

  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  .topnav.responsive a {
    float: none;
    display: block;
    background-color: rgb(0, 0, 0, 0.5);
  }
}

.descriere{
  background-color: white;/*#fdffce*/
  display: inline-block;
  z-index: 2;
  margin-left: 10vw;
  margin-bottom: 100vh;
}


@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}



.descriere
{
  margin:0 100px;
}
h1
{
  width: 150px;
  padding: 0;
}

div .par, h1
{

  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: #850018;
  height: 100%;
  margin:0;


}
div .par
{
  margin-left:200px;
  font-stretch: extra-expanded;
  font-size: 20px;
  letter-spacing: 0.03rem;

}
div .l
{
  float:left;
}
div .r
{
    overflow: auto;
}
.container
{
  width:100%;
  padding:0;
}
.l, .r
{
  height: 20%;
}




footer
{
  width: 100%;
  height:20vh;
  border-top: 1px solid #ffdc00;
  padding-top: 10vh;
  display: inline-block;
}
#footer
{
   height:31vh;
   bottom:0;
}
footer .footer-element 
{
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  text-align: center;
  color:yellow;
}
.footer-element
{
  float:left;
  width:33%;
}
@media screen and (max-width: 800px) {
  .footer-element {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }


}