<div id="alert1" class="alert more">
  <div class="title">
    <h1 style="width: auto; color: black;"></h1>
  </div>

  <div class="topic">
    <div class="mini-title">
      <h2>Intro</h2>
    </div>

    <div class="content">
      <p></p>
    </div>
  </div>

  <hr class="for-alert-list">

  <div class="topic">
    <div class="mini-title">
      <h2></h2>
    </div>

    <div class="content">
      <p></p>
    </div>
  </div>

  <hr class="for-alert-list">

  <div class="topic">
    <div class="mini-title">
      <h2></h2>
    </div>

    <div class="content">
      <p></p>
    </div>
  </div>
</div>
